
/*** 

====================================================================
  Anim Icons
====================================================================

***/

.anim-icons {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.anim-icons.full-width {
  max-width: 100%;
}

.anim-icons .icon {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-pattern-1{
  width: 124px;
  height: 121px;
  background-image: url(../images/icons/bg-pattern-1.png);
}

.icon-dots {
  width: 75px;
  height: 156px;
  background-image: url(../images/icons/icon-dots.png);
}

.icon-dots-2 {
  width: 103px;
  height: 385px;
  background-image: url(../images/icons/icon-dots-2.png);
}

.icon-quote-1 {
  width: 38px;
  height: 28px;
  background-image: url(../images/icons/quote-icon-1.png);
}

.icon-scale1 {
  width: 254px;
  height: 350px;
  background-image: url(../images/icons/icon-scale1.png);
}

.icon-scale2 {
  width: 254px;
  height: 350px;
  background-image: url(../images/icons/icon-scale2.png);
}

.icon-scale3 {
  width: 220px;
  height: 330px;
  background-image: url(../images/icons/icon-scale3.png);
}

.icon-scale3-2 {
  width: 220px;
  height: 330px;
  background-image: url(../images/icons/icon-scale3-2.png);
}

.icon-big-scale1 {
  width: 366px;
  height: 639px;
  background-image: url(../images/icons/icon-big-scale1.png);
}

.icon-big-scale1-1 {
  width: 316px;
  height: 545px;
  background-image: url(../images/icons/icon-big-scale1-1.png);
}

.icon-big-scale1-3 {
  width: 360px;
  height: 575px;
  background-image: url(../images/icons/icon-big-scale1-3.png);
}

.icon-big-scale2 {
  width: 346px;
  height: 660px;
  background-image: url(../images/icons/icon-big-scale2.png);
}
.icon-big-scale2-1 {
  width: 283px;
  height: 719px;
  background-image: url(../images/icons/icon-big-scale2-1.png);
}

.icon-big-scale3-1 {
  width: 312px;
  height: 548px;
  background-image: url(../images/icons/icon-big-scale3-1.png);
}

.icon-gavel-1 {
  width: 363px;
  height: 248px;
  background-image: url(../images/icons/icon-gavel-1.png);
}

.icon-gavel-book-1 {
  width: 324px;
  height: 188px;
  background-image: url(../images/icons/icon-gavel-book-1.png);
}

.icon-gavel-book3-1 {
  width: 324px;
  height: 188px;
  background-image: url(../images/icons/icon-gavel-book3-1.png);
}

.icon-book-1 {
  width: 263px;
  height: 193px;
  background-image: url(../images/icons/icon-book-1.png);
}

.icon-book-2 {
  width: 291px;
  height: 203px;
  background-image: url(../images/icons/icon-book-2.png);
}

.icon-book-3 {
  width: 265px;
  height: 83px;
  background-image: url(../images/icons/icon-book-3.png);
}

.icon-book-3-1 {
  width: 265px;
  height: 83px;
  background-image: url(../images/icons/icon-book-4.png);
}

.icon-paper-roll-1 {
  width: 193px;
  height: 174px;
  background-image: url(../images/icons/icon-paper-roll-1.png);
}

.icon-paper-roll2-1 {
  width: 320px;
  height: 585px;
  background-image: url(../images/icons/icon-big-scale2-2.png);
}

.icon-law-man1 {
  width: 270px;
  height: 529px;
  background-image: url(../images/icons/icon-law-man1.png);
}

.icon-ink-1 {
  width: 197px;
  height: 378px;
  background-image: url(../images/icons/icon-ink-1.png);
}

.icon-ink-2 {
  width: 169px;
  height: 325px;
  background-image: url(../images/icons/icon-ink-2.png);
}

.bounce-y{
  animation: bounce-y 10s infinite linear;
}

.bounce-x{
  animation: bounce-x 10s infinite linear;
}

.zoom-one{
  animation: zoom-one 10s infinite linear;
}

@keyframes float{
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoom-one {
  0% {
    transform: scale(.95);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(.95);
  }
}

@keyframes zoom-two {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.overlay-anim {
  position: relative;
  &:after {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
  }
  &:hover{
    &:after {
      height: 100%;
      opacity: 0;
      transition: all 400ms linear;
    }
  }

}