/*** 

====================================================================
    Clients Section
====================================================================

***/

.clients-section{
  position: relative;
  z-index: 1;
  &.style-two{
    padding: 0;
    background: var(--bg-theme-color2);
    &::before{
      display: none;
    }
    .slide-item{
      padding: 50px 30px;
      border-left: 2px solid rgba(255,255,255, .15);
    }
  }

  &.style-three {
    padding: 90px 0;
    background: var(--bg-theme-color4);
    &::before {
      display: none;
    }
    .slide-item {
      border-left: 2px solid rgba(255, 255, 255, .15);
      img {
        opacity: 1;
      }
      a{
        &:hover{
          background-color: #ffffff;
        }
      }
    }
  }

  &.style-four {
    border-top: 1px solid #E6E8ED;
    padding: 90px 0;
    &::before {
      display: none;
    }
  }

  &.home-style-nine{
    border: none;
    padding-top: 0;
    padding-bottom: 120px;
  }

}

.clients-section{
  position: relative;
  padding: 35px 0 75px;
}

.clients-section .slide-item{
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
  &:hover{
    background-color: rgba(255,255,255, .1);
    img{
      opacity: 1;
    }
  }
  a {
    position: relative;
    display: block;
    transition: all 300ms ease;
  }
  img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
    opacity: .30;
    transition: all 0.3s ease;
  }
}


.clients-section .owl-nav{
  @include absolute;
  @include flex-center;
  padding: 0 25px;
  background-color: #ffffff;
  max-width: 110px;
  right: 0;
  margin: -13px auto 0;
  .owl-prev,
  .owl-next{
    @include flex-center;
    height: 26px;
    width: 26px;
    background-color: var(--bg-theme-color3);
    color: #7c858c;
    font-size: 14px;
    margin: 0 3px;
    transition: all 300ms ease;
    &:hover{
      background-color: var(--bg-theme-color2);
      color: #ffffff;
    }
  }
}

.clients-section .owl-dots{
  display: none;
}
