/***

====================================================================
    Countries Section
====================================================================

***/

.countries-section{
  position: relative;
  padding: 120px 0;
  z-index: 2;  
  .bg-layer{
    @include overlay;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-color: var(--theme-color4);
    max-height: 457px;
  }
  .carousel-outer{
    position: relative;
    margin: 0 -165px;
    @include media-breakpoint-down(xl){
      margin: 0;
    }
  }
  .sec-title{
    margin-bottom: 35px;
  }
  .banner-box-three {
    margin: 105px 0 70px;
  }
}

.country-block{
  position: relative;
  padding: 15px;
  z-index: 9;
  .inner-box {
    border-radius: 10px 10px 0 0;
    position: relative;
    text-align: center;
    box-shadow: 0 0px 15px rgba(0,0,0,.10);
    background-color: var(--theme-color-white);
    &:hover {
      .image img{
        transform: scale(1.1);
      }
    }

  }
  .image-box{
    position: relative;
  }
  .image {
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    img {
      width: 100%;
      @include transition(all 300ms ease);
    }
    &::before {
      position: absolute;
      left: 0;
      bottom: 0px;
      height: 20px;
      width: 100%;
      overflow: hidden;
      background-position: center;
      background-image: url(../images/icons/curve.png);
      content: "";
      z-index: 2;
    }
  }
  .content-box {
    position: relative;
    padding: 0 40px 35px;
    .flag {
      position: relative;
      display: block;
      margin: -48px auto 15px;
      height: 57px;
      width: 57px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ffffff;
      @include transition(all 300ms ease);
      z-index: 2;
      &:hover{
        background-color: var(--theme-color2);
        color: var(--theme-color1);
      }
    }
    .title{
      display: block;
      margin-bottom: 20px;
      a:hover {
        color: var(--theme-color1);
      }
    }
    .text{
      font-size: 16px;
      line-height: 30px;
    }
  }
}

/***

====================================================================
    Countries Section Two
====================================================================

***/

.countries-section-two{
  position: relative;
  padding: 120px 0;
  .bg-image{
    background-color: #232331;
  }

  .carousel-outer {
    position: relative;
    padding: 0 35px;
  }

  .sec-title {
    .sub-title {
      color: #aab3bb;
    }
  }
}

.country-block-two {
  position: relative;
  .inner-box {
    padding: 0 10px;
    position: relative;
    text-align: center;
    &:hover {
      .image img {
        transform: scale(1.1);
      }
      .flag{
        animation: zoom-two 1s infinite linear;
      }
    }
  }
  .flag {
    position: relative;
    display: block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
    @include transition(all 300ms ease);
    margin: 0 auto -65px;
    z-index: 2;
    &:hover {
      background-color: var(--theme-color2);
      color: var(--theme-color1);
    }
  }
  .info{
    position: relative;
    background-color: var(--theme-color-white);
    padding: 80px 15px 25px;
    text-align: center;
  }
  .title {
    display: block;
    margin-bottom: 15px;
    a:hover {
      color: var(--theme-color1);
    }
  }

  .text {
    font-size: 16px;
    line-height: 30px;
  }
}

/***

====================================================================
    Countries Section Three
====================================================================

***/

.countries-section-three {
  position: relative;
  .anim-icons {
    max-width: 100%;
    .icon {
      position: absolute;
      right: 0;
      bottom: 0px;
      pointer-events: none;
    }
  }
  &.home-style-nine{
    .anim-icons {
      max-width: none;
    }
    .anim-icons .icon {
      position: absolute;
      right: 100px;
      bottom: 0;
    }
  }
  .icon-object-1{
    left: -330px;
    top: -120px;
  }
  .outer-box{
    position: relative;
    background-color: var(--theme-color-white);
    z-index: 4;
    max-width: 1400px;
    margin: 0 auto;
    padding: 120px 0;
  }
  .bottom-text {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    max-width: 818px;
    @include media-breakpoint-down(md){
      display: block;
    }
    .inner {
      background-color: var(--bg-theme-color4);
      padding: 15px 20px 10px;
      min-height: 60px;
      span {
        color: var(--theme-color-dark);
      }
    }
    .theme-btn {
      margin-left: 10px;
      @include media-breakpoint-down(md){
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
}

.country-block-three{
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    background-color: var(--theme-color-white);
    padding: 33px 33px;
    box-shadow: 0 10px 60px rgba(var(--theme-color-dark-rgb), .10);
    @include transition(all 300ms ease);
    &:hover {
      box-shadow: 0 10px 20px rgba(var(--theme-color-dark-rgb), .20);
      .flag img {
        transform: rotate(360deg);
      }
    }
  }
  .content{
    position: relative;
    padding-left: 75px;

    .flag {
      @include absolute;
      height: 60px;
      width: 60px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 0px;
      img {
        width: 100%;
        @include transition(all 300ms ease);
      }
    }

    .title {
      display: block;
      margin-bottom: 8px;
      a:hover {
        color: var(--theme-color2);
      }
    }

    .text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
}