/*** 

====================================================================
		FAQ's Sectiom
====================================================================

***/

.faqs-section {
  position: relative;
  padding: 120px 0 60px;
  background-repeat: no-repeat;
  background-position-y: center;
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ECEFF4;
    content: "";
  }
  &.pull-up {
    &:before {
      top: -128px;
      height: calc(100% + 128px);      
    }
  }
  .icon-object-2{
    top: 155px;
    left: -375px;
  }
  .icon-object-3 {
    top: 290px;
    right: -350px;
    max-width: 325px;
  }
  &.style-two{
    padding: 120px 0 63px;
    .banner-box-one{

    }
    &::before{
      display: none;
    }
    .sec-title {
      margin-bottom: 55px;
    }
    .anim-icons {
      .icon {
        position: absolute;
        left: calc(50% - 895px);
        bottom: 0;
        pointer-events: none;
      }
    }
    .accordion-box {
      .block {
        border: 1px solid rgba(var(--theme-color-dark-rgb), .05);
        .acc-btn {
          background-color: #F3F4F6;
          padding: 14px 20px 17px;
          &.active {
            background-color: transparent;
            color: var(--theme-color2);
            .icon {
              background-color: var(--theme-color1);
              color: var(--theme-color-white);
            }
          }
          .icon {
            top: 11px;
          }
        }
      }
    }
  }
  &.style-three{
    &::before{
      display: none;
    }
  }
  &.style-six{
    padding-bottom: 120px;
    &::before{
      z-index: -1;
      @include media-breakpoint-down(lg){
        top: 0px;
        height: 100%;
      }
    }
  }
}

.faqs-section .faq-column {
  position: relative;
  margin-bottom: 50px;
  .inner-column {
    position: relative;
    padding-right: 70px;
    @include media-breakpoint-down(xl){
      padding-right: 0;
    }
  }
}

.faqs-section .content-column {
  position: relative;
  margin-bottom: 20px;
  .info-box{
    position: relative;
    margin-bottom: 40px;
    .inner{
      position: relative;
      padding-left: 90px;
      &:hover{
        .icon{
          background-color: var(--theme-color2);
          color: var(--theme-color-white);
        }
      }
      .icon{
        position: absolute;
        left: 0;
        top: 0;
        @include flex-center;
        height: 55px;
        width: 55px;
        font-size: 18px;
        background-color: var(--theme-color1);
        color: var(--theme-color-white);
        border-radius: 50%;
        transition: all 300ms ease;
      }
      .title{
        margin-bottom: 15px;
      }
    }
  }
}

.faqs-section .form-column {
  position: relative;
  .inner-column {
    position: relative;
    padding: 120px 70px 120px;
    padding-left: 0;
    .sec-title{
      .sub-title{
        color: var(--theme-color-white);
        &:before{
          color: var(--theme-color-white);
        }
      }
    }
  }

  .form-bg {
    position: absolute;
    right: 15px;
    left: -375px;
    top: 0;
    height: 100%;
    @include background;
    &:before {
      @include overlay;
      background: var(--gradient-2);
      opacity: .9;
      content: "";
    }
  }
}

.accordion-box {
  position: relative;
  .block {
    position: relative;
    background-color: var(--theme-color-white);
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    &.active-block{
      box-shadow: 0 0px 30px rgba(0, 0, 0, .10);
      border: 1px solid #ecf0f4;
    }
    .acc-btn {
      position: relative;
      font-family: var(--title-font);
      font-size: 20px;
      line-height: 30px;
      background-color: var(--theme-color-white);
      color: var(--theme-color2);
      font-weight: 700;
      cursor: pointer;
      padding: 21px 20px;
      padding-right: 70px;
      border-radius: 5px;
      @include transition(all 500ms ease);
      .icon {
        position: absolute;
        right: 20px;
        top: 15px;
        height: 40px;
        width: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 50%;
        background-color: var(--theme-color-white);
        text-align: center;
        color: var(--theme-color2);
        @include transition(all 500ms ease);
      }
      &.active {
        background-color: var(--theme-color-white);
        color: var(--theme-color-dark);
        .icon {
          color: var(--theme-color-dark);
          background-color: var(--theme-color-white);
          &:before {
            content: "\f107";
          }
        }
      }
    }
    .acc-content {
      position: relative;
      padding: 0 0 8px;
      display: none;
      .content {
        position: relative;
        padding: 4px 20px 20px;
        .text {
          display: block;
          font-size: 16px;
          line-height: 30px;
          color: #808287;
          margin-bottom: 0;
        }
      }

      &.current {
        display: block;
      }
    }
  }
}

.banner-box-one{
  position: relative;
  background-color: var(--bg-theme-color1);
  padding: 57px 180px 50px 80px;
  margin-bottom: 30px;
  @include media-breakpoint-down(xl){
    padding: 57px 50px 50px 30px;
  }
  @include media-breakpoint-down(sm){
    padding: 57px 50px 50px 30px;
  }
  &:before{
    @include overlay;
    background-image: url(../images/icons/shape-2.png);
    background-repeat: no-repeat;
    background-position: right top;
    content: "";
  }
  .icon{
    font-size: 60px;
    color: var(--theme-color-white);
  }
  .title{
    font-size: 30px;
    line-height: 1.4;
    color: var(--theme-color-white);
    margin-bottom: 0;
    margin-top: 18px;
  }
}

.banner-box-two{
  position: relative;
  margin-bottom: 30px;
  .image{
    position: relative;
    margin-bottom: 0;
    img{
      width: 100%;
    }
  }
  .caption{
    position: absolute;
    left: 0;
    bottom: 40px;
    line-height: 24px;
    padding: 20px 30px;
    background-color: var(--theme-color-white);
    margin-bottom: 0;
  }
}

.contact-form {
  background-color: var(--theme-color1);
  position: relative;
  padding: 56px 30px 58px;
  h3 {
    color: var(--theme-color-white);
    text-align: center;
    margin-bottom: 21px;
  }
  .form-group {
    position: relative;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      font-size: 16px;
      line-height: 20px;
      color: var(--theme-color-white);
      font-weight: 500;
      display: block;
      letter-spacing: 1px;
      margin-bottom: 15px;

      &.error {
        display: block;
        font-weight: 500;
        font-size: 13px;
        text-transform: capitalize;
        line-height: 24px;
        color: #ff0000;
        margin-bottom: 0;
      }
    }

    .select2-container--default .select2-selection--single,
    input:not([type="submit"]),
    textarea,
    select {
      position: relative;
      display: block;
      height: 58px;
      width: 100%;
      padding: 15px 30px;
      font-size: 14px;
      color: var(--theme-color2);
      line-height: 22px;
      font-weight: 400;
      background-color: var(--theme-color-white);
      border: 1px solid rgba(255, 255, 255, .15);
      border-radius: 5px;
      margin-bottom: 0;
      transition: all 300ms ease;
    }

    ::-webkit-input-placeholder {
      color: #212529;
    }

    ::-moz-input-placeholder {
      color: #212529;
    }

    ::-ms-input-placeholder {
      color: #212529;
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: var(--border-theme-color2);
    }

    textarea {
      height: 102px;
      resize: none;
    }

    input[type="submit"],
    button {
      margin-top: 5px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}