
/*** 

====================================================================
Main Header
====================================================================

***/

.header-span {
  position: relative;
  height: 110px;
  display: block;
  width: 100%;
}

.main-header {
  position: relative;
  width: 100%;
  z-index: 999;
}

.header-top {
  position: relative;
  margin-left: 335px;
  padding-right: 50px;
  display: flex;
  .inner-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .top-left { 
    position: relative;
    display: flex;
    align-items: center;
  }
  .top-right {
    position: relative;
  }
  .useful-links{
    display: flex;
    align-items: center;
    padding: 10px 0;
    li{
      position: relative;
      padding-left: 15px;
      margin-left: 15px;
      font-size: 13px;
      color: #808287;
      line-height: 20px;
      &:first-child{
        margin-left: 0;
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      &:before{
        position: absolute;
        left:-3px;
        top: 0;
        content: "/";
      }
      a{
        color: #808287;
        @include transition(all 300ms ease);
        &:hover{
          color: var(--theme-color1);
        }
      }
    }
  }
  .outer-box{
    min-width: 210px;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(xl){
      min-width: 170px;
    }
  }
}

.main-header .header-lower {
  position: relative;
  @include transition(all 300ms ease);
  .logo-box {
    position: relative;
    padding: 24px 0;
    min-width: 280px;
  }
}

.main-header {
  width: 100%;
  z-index: 999;
  .logo {
    position: relative;
    display: block;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .main-box {
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    @include transition(all 300ms ease);
    .nav-outer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.main-menu{
  position:relative;
  @include media-breakpoint-down(lg){
    display: none;
  }
}

.main-menu .navbar-header{
  display: none;
}

.main-menu .navbar-collapse{
  padding:0px;    
}

.main-menu .navigation{
  position:relative;
  margin:0px;
}

.main-menu .navigation > li{
  position:relative;
  float:left;
  padding:25px 0px;
  margin-right: 55px;
  @include transition(all 300ms ease);
  @include media-breakpoint-down(xl){
    margin-right: 38px;
  }
  &:last-child {
    margin-right: 0;
  }
  &:before {
    position: absolute;
    left:50%;
    bottom: 23px;
    height: 2px;
    width: 0%;
    background-color: var(--bg-theme-color2);
    content: "";
    @include transition(all 300ms ease);
  }
  &:hover:before,
  &.current:before {
    left: 0;
    width: 100%;
  }
  >a{
    position:relative;
    display:block;
    text-align:center;
    opacity:1;
    color: #aab3bb;
    font-size:16px;
    line-height:30px;
    font-weight:400;
    padding: 0;
    display: flex;
    @include transition(all 300ms ease);
    .icon {
      position: relative;
      font-size: 22px;
      line-height: 24px;
      margin-left: 10px;
    }
    &:hover{
      color: var(--theme-color-white);
    }
  }
  &.current>a {
    color: var(--theme-color-white);
    font-weight: 700;
  }
  &.dropdown>a {
    padding-right: 14px;
    margin-right: -14px;
  }
  &.dropdown>a:after {
    content: "\f107";
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    height: 20px;
    display: block;
    line-height: 24px;
    font-size: 12px;
    z-index: 5;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    margin-top: -2px;
    transform: translateY(-50%);
  }
  &.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
    margin-top: 0;
    @include transition(all 300ms ease);
  }
}

.main-menu .navigation > li > ul{
  position: absolute;
  left: 0px;
  top: 100%;
  width: 220px;
  z-index: 100;
  padding: 10px 0 0;
  background-color: var(--theme-color-white);
  margin-top: 30px;
  opacity: 0;
  display: none;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%);
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
  @media (min-width: 768px) {
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
  &.from-right{
    left:auto;
    right:0px;  
  }
  >li{
    position:relative;
    width:100%;
    border-bottom: 1px solid #ebf1f5;
    &:last-child {
      border-bottom: none;
    }
    >a{
      position:relative;
      display:block;
      padding:10px 0px;
      line-height:29px;
      font-weight:400;
      font-size:16px;
      color:var(--theme-color2);
      text-align:left;
      margin: 0 30px;
      text-transform:capitalize;
      transition:all 200ms ease;
    }
    &:hover > a{
      color:var(--theme-color1);
    }
    &.dropdown > a:after{
      font-family: "Font Awesome 6 Pro";
      content: "\f105";
      position:absolute;
      right:0;
      top:11px;
      display:block;
      line-height:24px;
      font-size:11px;
      font-weight:900;
      z-index:5;  
    }
    &.dropdown:hover>ul {
      visibility: visible;
      opacity: 1;
      top: 0px;
      margin-top: 20px;
      @include transition(all 300ms ease);
    }
  }
}

.main-menu .navigation > li > ul > li > ul{
  position:absolute;
  left:100%;
  top:0px;
  width:220px;
  z-index:100;
  display:none;
  background-color: var(--theme-color-white);
  opacity:0;
  padding: 10px 0 0;
  margin-top: 10px;
  transform:translateY(-30px);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  @media (min-width: 768px) {
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
  > li{
    position:relative;
    border-bottom: 1px solid #ebf1f5;
    width:100%;
    &:last-child{
      border-bottom:none; 
    }
    > a{
      position:relative;
      display:block;
      padding:10px 0;
      line-height:24px;
      font-weight:400;
      font-size:16px;
      color:var(--theme-color2);
      text-align:left;
      margin: 0 30px;
      text-transform:capitalize;
      @include transition(all 300ms ease);
      &:hover{
        color:var(--theme-color1);
      }
    }
  }
}

.main-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:10px;
  top:8px;
  width:34px;
  height:30px;
  border:1px solid var(--theme-color-white);
  text-align:center;
  font-size:16px;
  line-height:26px;
  color: var(--theme-color-white);
  cursor:pointer;
  z-index:5;
  display:none;
}

.main-header .outer-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  .theme-btn{
    margin-left: 40px;
    text-transform: uppercase;
  }
  .ui-btn-outer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0;
    margin-left: 30px;
    border-left: 1px solid rgba(255,255,255, .1);
  }
}


.main-header .ui-btn {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background: none;
  font-size: 26px;
  color: var(--theme-color-white);
  margin-left: 20px;
  @include transition(all 300ms ease);
  &:hover {
    color: var(--theme-color1);
  }
}

.main-header .info-btn {
  position: relative;
  display: block;
  font-size: 14px;
  padding: 8px 0;
  padding-left: 55px;
  color: var(--theme-color-white);
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
  line-height: 20px;
  small {
    font-size: 12px;
    font-weight: 400;
    color: #aab3bb;
  }
  i {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -22px;
    line-height: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    color: var(--theme-color-white);
    background-color: var(--theme-color1);
    font-size: 16px;
  }
  &:hover{
    color: var(--theme-color1);
  }
}


/*** 

====================================================================
Header Style One
====================================================================

***/

.header-style-one {
  &.style-light {
    .header-top {
      background-color: #EBEBEB;
      margin-left: 295px;
      padding: 5px 50px 5px 40px;
      @include media-breakpoint-down(xxl){
        margin-left: 0;
      }
      @include media-breakpoint-down(xl){
        padding: 5px 15px;
      }
    }
    .header-lower {
      background-color: var(--theme-color-white);
      .theme-btn {
        font-size: 14px;
        padding: 27px 38px;
      }
      .mobile-nav-toggler {
        color: var(--theme-color1);
      }
    }
    .main-menu {
      .navigation {
        & > li {
          &.current {
            &:before {
              background-color: var(--theme-color1);
            }
            & > a {
              color: var(--theme-color1);
            }
          }
          & > a {
            color: #808287;
          }
        }
      }
    }
    .outer-box {
      .ui-btn-outer {
        border-left: 2px solid #A1A1A1;
        padding: 1px 0;
      }
    }
    .info-btn {
      color: var(--theme-color2);
      &:hover {
        color: var(--theme-color1);
      }
      small {
        color: #808287;
      }
    }
    .ui-btn {
      color: var(--theme-color2);
      &:hover {
        color: var(--theme-color1);
      }
    }
  }

  .header-top {
    background-color: #F4F0F0;
    padding: 5px 50px 5px 40px;
    margin-left: 285px;
    @include media-breakpoint-down(xxl){
      margin-left: 0;
    }
    @include media-breakpoint-down(xl){
      padding: 5px 15px;
    }
    @include media-breakpoint-down(lg){
      display: none;
    }
  }

  .header-lower {
    background-color: var(--theme-color3);
    .logo-box {
      position: relative;
      min-width: 285px;
      min-height: 120px;
      margin-right: 50px;
      @include flex-center;
      margin-top: -40px;
      padding: 20px 20px;
      background-color: var(--theme-color-white);
      @include media-breakpoint-down(xxl){
        margin-top: 0;
        min-height: auto;
        min-width: 170px;
        text-align: center;
        padding: 20.5px 20px;
      }
      @include media-breakpoint-down(xl){
        margin-right: 30px;
      }
      .logo {
        margin-top: -13px;
        @include media-breakpoint-down(xxl){
          margin-top: 0;
        }
      }
    }
    .main-box {
      align-items: flex-end;
      @include media-breakpoint-down(lg){
        align-items: center;
        justify-content: space-between;
      }
      .nav-outer {
        @include media-breakpoint-down(lg){
          width: auto;
        }
      }
      .main-menu {
        .navigation {
          & > li {
            &.current {
              &:before {
                background-color: var(--theme-color-white);
              }
            }
            &:before {
              background-color: var(--theme-color-white);
            }
          }
        }
      }
    }
    .theme-btn{
      line-height: 26px;
      padding: 15.5px 64px;
      letter-spacing: .6px;
      @media (max-width: 1599.98px) {
        display: none;
      }
    }
    .outer-box {
      @media (max-width: 1599.98px) {
        padding-right: 40px;
      }
      @include media-breakpoint-down(xl){
        padding-right: 15px;
      }
      .ui-btn-outer {
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      .info-btn {
        @include media-breakpoint-down(lg){
          display: none;
        }
      }
    }
  }

  &.style-four {
    .header-lower {
      background-color: var(--theme-color3);
      padding: 0 60px;
      @include media-breakpoint-down(xxl){
        padding: 0 15px;
      }
      &.style-two {
        background-color: #0F2133;
      }
      .logo-box {
        background-color: transparent;
        min-height: auto;
        min-width: 149px;
        margin-top: 0;
        padding: 0;
        .logo {
          margin-top: 0;
        }
      }
      .main-box {
        align-items: center;
        .nav-outer {
          justify-content: center;
        }
      }
      .main-menu {
        .navigation {
          & > li {
            & > a {
              color: var(--theme-color-white);
              font-weight: 500;
            }
          }
        }
      }
      .outer-box {
        padding: 27px 0 27px 15px;
      }
    }
  }
}

/*** 

====================================================================
    Header Style Two
====================================================================

***/

.header-style-two {
  position: relative;
  background-color: var(--theme-color-white);
  &:before{
    @include overlay;
    background:linear-gradient(var(--theme-color2), transparent);
    min-height: 300px;
    content: "";
  }
  .auto-container{
    max-width: 1370px;
  }
  .header-top{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--theme-color3);
    @include media-breakpoint-down(lg){
      display: none;
    }
    .inner-container{
      padding: 0;
    }
    .list-style-one {
      padding: 11px 0;
      li {
        font-size: 13px;
        font-weight: 400;
        color: #aab3bb;
        a{
          color: #aab3bb;
        }
        &:hover a{
          color: var(--theme-color-white);
        }
      }
    }
  }
  .social-icon-one li a {
    color: var(--theme-color-white);
    &:hover {
      color: var(--theme-color1);
    }
  }
  .header-lower {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255, .1);
    .nav-outer{
      margin-left: auto;
      width: auto;
    }
    .logo-box{
      width: auto;
      @include media-breakpoint-down(lg){
        min-width: auto;
        margin-right: 30px;
      }
    }
    .outer-box{
      .theme-btn{
        margin-left: 50px;
        font-size: 14px;
        letter-spacing: .06px;
        padding: 15px 33px;
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
    }
    .main-menu .navigation > li{
      padding: 42px 0;
      &:before{
        bottom: 40px;
      }
    }
    .main-menu .navigation > li > a{
      color: var(--theme-color-white);
    }
  }
}



/*** 

====================================================================
    Header Style Three
====================================================================

***/

.header-style-three{
  position: relative;
  background-color: var(--theme-color2);
  .main-box{
    padding: 0 80px;
    .logo-box{
      min-width: 280px;
    }
    .outer-box{
      display: flex;
      align-items: center;
    }

    .main-menu .navigation > li{
      padding: 42px 0;
      &:before{
        bottom: 40px;
      }
    }
    .main-menu .navigation > li > a{
      color: var(--theme-color-white);
    }
  }
}

/*** 

====================================================================
Sticky Header
====================================================================

***/

.sticky-header {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  z-index: 99999;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.05);
  box-shadow: 0 0 20px rgba(0,0,0,.05);
}

.sticky-header.fixed-header{
  opacity:1;
  z-index: 9999;
  visibility:visible;
}

.sticky-header{
  .logo {
    padding: 10px 0;
    img {
      max-height: 40px;
    }
  }
  .nav-outer {
    position: relative;
    background: none;
  }
  .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.sticky-header .main-menu .navigation > li{
  margin: 0;
  margin-left: 40px;
  padding: 20px 0;
}

.sticky-header .main-menu .navigation > li > a{
  color: #707070;
}

.sticky-header .main-menu .navigation > li.current > a, 
.sticky-header .main-menu .navigation > li:hover > a{
  color: var(--theme-color2);
}

.sticky-header .main-menu .navigation>li:before{
  display: none;
}

.sticky-header .outer-box,
.sticky-header .navbar-header {
  display: none;
}

.sticky-header .mobile-nav-toggler {
  color: var(--theme-color1);
  top: 3px;
}