/*** 

====================================================================
  Main Slider
====================================================================

***/

.main-slider {
  position: relative;
}

.main-slider {
  background-color: var(--theme-color2);
  .title {
    position: relative;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color: var(--theme-color-white);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include media-breakpoint-down(sm){
      font-size: 14px;
      letter-spacing: 0;
    }
  }
  h1{
    position: relative;
    display: block;
    font-size: 77px;
    line-height: 90px;
    color: var(--theme-color-white);
    letter-spacing: 0;
    @include media-breakpoint-down(xl){
      font-size: 60px;
      line-height: 1.3;
    }
    @media (max-width: 801.98px) {
      font-size: 50px;
    }
    @include media-breakpoint-down(sm){
      font-size: 40px;
    }
    @media (max-width: 399.98px) {
      font-size: 34px;
    }
  }
  .text{
    font-size: 18px;
    line-height: 36px;
    color: rgba(255,255,255,.50);
  }
  .btn-box {
    position: relative;
  }
  .theme-btn {
    display: inline-block;
    white-space: nowrap;
    min-width: 200px !important;
  }
  .image {
    pointer-events: none;
    @media (max-width: 1039.98px) {
      display: none;
    }
  }
}


.tp-dottedoverlay {
  background: linear-gradient(90deg, rgba(34, 36, 41, 0.96) 43.18%, rgba(34, 36, 41, 0.9) 54.28%, rgba(34, 36, 41, 0) 100%);
}

.tp-bannertimer {
  display: none;
}
