/*** 

====================================================================
    News Section
====================================================================

***/

.news-section {
  position: relative;
  padding: 120px 0 90px;
  overflow: hidden;
  .anim-icons {
    max-width: none;
    @include media-breakpoint-down(xl){
      display: none;
    }
    .icon-gavel-1 {
      position: absolute;
      left: calc(50% - 960px);
      top: 71px;
      pointer-events: none;
    }
    .icon-big-scale2 {
      position: absolute;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }
  }
}

.news-block {
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    &:hover .image-box .image a:after {
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 400ms linear;
    }
    &:hover .image img {
      transform: scale(1.1);
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      img {
        display: block;
        width: 100%;
        transition: all 400ms ease;
      }
      a:after {
        background: rgba(255, 255, 255, .3);
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 51%;
        top: 0;
        opacity: 1;
        pointer-events: none;
        transition: all 400ms linear;
      }
    }
    .date {
      position: absolute;
      left: 0px;
      bottom: 30px;
      z-index: 1;
      width: 106px;
      height: 77px;
      @include vertical-center;
      padding-left: 30px;
      padding-top: 6px;
      font-size: 14px;
      color: var(--theme-color-white);
      font-weight: 500;
      line-height: 16px;
      text-transform: uppercase;
      overflow: hidden;
      b{
        color: var(--theme-color-white);
        font-weight: 500;
        margin-bottom: 5px;
      }
      &:before{
        position: absolute;
        right: 0px;
        top: 0;
        height: 170px;
        width: 170px;
        background-color: var(--theme-color1);
        border-radius: 50%;
        content: "";
        z-index: -1;
      }
    }
  }
  .content-box{
    position: relative;
    margin-top: -30px;
    margin-right: 20px;
    padding: 25px 30px 0;
    background-color: var(--theme-color-white);
    border: 1px solid #e6e8ed;
    box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
    border-bottom: 0;
    .post-info {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      li {
        position: relative;
        font-size: 14px;
        line-height: 25px;
        color: #767676;
        font-weight: 400;
        margin-right: 14px;
        i {
          margin-right: 2px;
          color: var(--theme-color1);
          font-size: 14px;
        }
      }
    }
    .title{
      margin-bottom: 0;
      line-height: 34px;
      &:hover {
        color: var(--theme-color1);
      }
    }
    
    .read-more {
      position: relative;
      padding: 15px 0;
      font-size: 12px;
      line-height: 25px;
      color: #73787d;
      font-weight: 500;
      border-top: 1px solid #d9e0e6;
      margin-top: 20px;
      display: flex;
      letter-spacing: .1em;
      transition: all 100ms linear;    
      i {
        margin-left: 10px;
        color: #73787d;
        font-size: 16px;
        transition: all 100ms linear;
      }
      &:hover{
        color: var(--theme-color1);
        i{
          transform: translateX(-15px);
          opacity: 0;
        }
      }
    }
  }
}

/*** 

====================================================================
    News Section Two
====================================================================

***/

.news-section-two{
  position: relative;
  padding: 120px 0;
  .icon-shape-4{
    position: absolute;
    left: 10px;
    bottom: -120px;
    width: 538px;
    height: 287px;
    background-image: url(../images/icons/shape-4.png);
    pointer-events: none;
  }
  .sec-title {
    padding-top: 9px;
    .text{
      max-width: 350px;
    }
  }
  &.style-two {
    padding: 120px 0 90px;
    overflow: hidden;
    .bg-layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      max-height: 568px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: var(--theme-color3);
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(var(--theme-color3-rgb), 0.9);
        content: "";
      }
    }
    .sec-title {
      padding-top: 0;
    }
  }

  .outer-box {
    margin-right: -307px;
    margin-left: 7px;
    @include media-breakpoint-down(xl){
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.news-carousel-one {
  &.default-nav {
    .news-block-two {
      margin-bottom: 0;
      .inner-box {
        box-shadow: none;
      }
    }
    .owl-nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      opacity: 1;
      position: absolute;
      right: 0;
      left: -38%;
      bottom: 13%;
      max-width: 145px;
      text-align: center;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xl){
        display: none;
      }
      .owl-prev,
      .owl-next {
        background-color: var(--theme-color-white);
        border: none;
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,.1);
        border-radius: 0;
        color: var(--theme-color1);
        font-size: 16px;
        height: 66px;
        line-height: 66px;
        width: 65px;
        @include transition(all 300ms ease);
        &:hover {
          background-color: var(--theme-color1);
          border-color: var(--theme-color1);
          color: var(--text-color-bg-theme-color1);
        }
      }
    }
  }
}

.news-block-two{
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
    &:hover {
      .image-box .image a:after {
        height: 40%;
      }

      .image img {
        transform: scale(1.1);
      }
      .date{
        color: var(--theme-color1);
        &:before{
          background-color: var(--theme-color-white);
        }
      }
    }
  }

  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      img {
        display: block;
        width: 100%;
        transition: all 400ms ease;
      }
      a:after {
        @include absolute-bottom;
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(transparent, var(--theme-color2));
        pointer-events: none;
        @include transition(all 300ms ease);
      }
    }
    .date {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 1;
      width: 106px;
      height: 77px;
      padding-top: 15px;
      padding-left: 45px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: var(--theme-color-white);
      font-weight: 500;
      line-height: 16px;
      letter-spacing: .1em;
      text-transform: uppercase;
      overflow: hidden;
      @include transition(all 300ms ease);
      b {
        color: inherit;
        font-weight: 700;
        font-size: 18px;
      }
      &:before {
        position: absolute;
        left: 0px;
        bottom: 0;
        height: 170px;
        width: 170px;
        background-color: var(--theme-color1);
        border-radius: 50%;
        content: "";
        @include transition(all 300ms ease);
        z-index: -1;
      }
    }
  }

  .content-box {
    position: absolute;
    left:0;
    bottom: 0;
    padding: 25px 40px 40px;
    border-bottom: 0;
    .post-info {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      li {
        position: relative;
        font-size: 14px;
        line-height: 25px;
        color: var(--theme-color-white);
        font-weight: 400;
        margin-right: 14px;
        i {
          margin-right: 2px;
          color: var(--theme-color1);
          font-size: 14px;
        }
      }
    }

    .title {
      margin-bottom: 0;
      color: var(--theme-color-white);
      &:hover {
        color: var(--theme-color1);
      }
    }
  }
}

/*** 

====================================================================
    News Section Four
====================================================================

***/

.news-section-three{
  position: relative;
  padding: 120px 0 90px;
  overflow: hidden;
  .icon-object-2{
    left: -400px;
    bottom: 0;
    transform: scaleY(-1);
  }
  .sec-title {
    @include media-breakpoint-down(lg){
      margin-bottom: 20px;
    }
  }
}

.news-block-three{
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    box-shadow: 0 10px 60px rgba(0, 0, 0, .07);

    &:hover .image-box .image a:after {
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 400ms linear;
    }

    &:hover .image img {
      transform: scale(1.1);
    }
  }

  .image-box {
    position: relative;

    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;

      img {
        display: block;
        width: 100%;
        transition: all 400ms ease;
      }

      a:after {
        background: rgba(255, 255, 255, .3);
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 51%;
        top: 0;
        opacity: 1;
        pointer-events: none;
        transition: all 400ms linear;
      }
    }
  }

  .content-box {
    position: relative;
    padding: 36px 60px 40px;
    background-color: var(--theme-color1);
    @include media-breakpoint-down(sm){
      padding: 36px 15px 40px;
    }
    .post-info {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      li {
        position: relative;
        font-size: 14px;
        line-height: 25px;
        color: var(--theme-color-white);
        font-weight: 400;
        margin-right: 14px;

        i {
          margin-right: 2px;
          color: var(--theme-color-white);
          font-size: 14px;
        }
      }
    }

    .title {
      color: var(--theme-color-white);
      margin-bottom: 0;
      line-height: 1.4;
      @include media-breakpoint-down(xl){
        br {
          display: none;
        }
      }
      &:hover {
        color: var(--theme-color-white);
      }
    }
  }
}


.news-block-four{
  position: relative;
  margin-bottom: 30px;

  .inner-box {
    position: relative;
    display: flex;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(sm){
      display: block;
    }
    &:hover .image-box .image a:after {
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 400ms linear;
    }

    &:hover .image img {
      transform: scale(1.1);
    }
  }

  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      min-width: 250px;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 400ms ease;
      }

      a:after {
        background: rgba(255, 255, 255, .3);
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 51%;
        top: 0;
        opacity: 1;
        pointer-events: none;
        transition: all 400ms linear;
      }
    }

  }

  .content-box {
    position: relative;
    padding: 30px 20px 30px 30px;
    border: 1px solid #d9e0e6;
    background-color: var(--theme-color-white);
    @include media-breakpoint-down(lg){
      width: 100%;
    }
    @include media-breakpoint-down(sm){
      padding: 30px 15px;
    }
    .post-info {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      li {
        position: relative;
        font-size: 14px;
        line-height: 25px;
        color: #767676;
        font-weight: 400;
        margin-right: 14px;

        i {
          margin-right: 2px;
          color: var(--theme-color1);
          font-size: 14px;
        }
      }
    }

    .title {
      margin-bottom: 0;
      line-height: 1.4;

      &:hover {
        color: var(--theme-color1);
      }
    }

  }
}