/*** 

====================================================================
Section Title
====================================================================

***/

.sec-title {
  position: relative;
  margin-bottom: 50px;
  .sub-title {
    position: relative;
    top: -11px;
    font-size: var(--sec-title-subtitle-font-size);
    color: var(--sec-title-subtitle-color);
    line-height: var(--sec-title-subtitle-line-height);
    font-weight: var(--sec-title-subtitle-font-weight);
    font-family: var(--sec-title-subtitle-font-family);;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-left: 12px;
    margin-bottom: 9px;
    &:before {
      position: absolute;
      left: 0;
      top:0;
      content: "/";
      color: var(--theme-color1);
    }
  }
  h1 {
    position: relative;
    font-size: 60px;
    line-height: 1em;
    color: var(--sec-title-color);
    font-family: var(--sec-title-font-family);
    font-weight: var(--sec-title-font-weight);
  }
  h2 {
    position: relative;
    font-size: var(--sec-title-font-size);
    color: var(--sec-title-color);
    font-family: var(--sec-title-font-family);
    font-weight: var(--sec-title-font-weight);
    letter-spacing: -.02em;
    margin-top: -5px;
    margin-bottom: 0;
    @include media-breakpoint-down(lg){
      font-size: 40px;
    }
    @include media-breakpoint-down(sm){
      font-size: 34px;
      line-height: 1.3;
      br {
        display: none;
      }
    }
  }
  .text {
    margin-top: 30px;
  }
}

.sec-title.light{
  h3,
  h2,
  h1{
    color: var(--theme-color-white);
  }
  .sub-title,
  .text{
    color: #aab3bb;
  }

}
