/***

==================================================================
    Why Choose Us
==================================================================

***/

.why-choose-us {
  position: relative;
  background-color: var(--bg-theme-color4);
  background-repeat: no-repeat;
  background-position: center;
  .anim-icons {
    .icon {
      position: absolute;
      left: calc(50% - 217px);
      top: 5px;
      pointer-events: none;
    }
  }
  &.style-six{
    background-color: transparent;
    .anim-icons {
      max-width: 100%;
      .icon {
        position: absolute;
        left: auto;
        top: auto;
        right: 80px;
        bottom: -65px;
        pointer-events: none;
      }
    }
  }
}

.why-choose-us .content-column {
  position: relative;

  .inner-column {
    position: relative;
    padding: 120px 0 110px;
    padding-right: 70px;
    @include media-breakpoint-down(xl){
      padding-right: 0;
    }
  }

  .sec-title {
    margin-bottom: 35px;

    .text {
      font-size: 16px;
      line-height: 30px;
    }
  }

  .info-box {
    position: relative;
    padding-left: 95px;
    min-height: 65px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9e0e6;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm){
      padding-left: 0;
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    &:hover {
      .icon {
        transform: scaleX(-1);
      }
    }

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      font-size: 64px;
      color: var(--theme-color1);
      line-height: 1em;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(sm){
        display: block;
        position: relative;
      }
    }

    .sub-title {
      position: relative;
      font-size: 14px;
      line-height: 25px;
      color: #73787d;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .1em;
    }

    .title {
      margin-bottom: 0;
    }

    .read-more {
      @include absolute-right;
      @include flex-center;
      height: 52px;
      width: 52px;
      background-color: #fff;
      border-radius: 50%;
      color: var(--theme-color2);
      margin-top: 5px;
      @include media-breakpoint-down(sm){
        position: relative;
        margin: 20px auto 0;
      }
    }
  }
}

.why-choose-us .image-column {
  position: relative;
  @include media-breakpoint-down(xl){
    display: none;
  }

  .inner-column {
    position: relative;
  }

  .image {
    position: relative;
    margin-right: -337px;
    margin-left: -60px;
    margin-bottom: 0;
    text-align: right;

    img {
      width: 100%;
    }
  }
}
.why-choose-us.style-six .image-column {
  position: relative;
  @include media-breakpoint-down(xl){
    display: none;
  }

  .inner-column {
    position: relative;
  }

  .image {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    text-align: right;
    img {
      width: inherit;
    }
  }
}

/***

==================================================================
    Why Choose Us Two
==================================================================

***/

.why-choose-us-two{
  position: relative;
  padding: 120px 0;
  overflow: hidden;
  &::before {
    position: absolute;
    left: -30px;
    top: -30px;
    height: 100%;
    width: 100%;
    background-image: url(../images/icons/pattern-14.png);
    background-position: left top;
    background-repeat: no-repeat;
    content: "";
  }
  .icon-object-1{
    left: -340px;
    bottom: 0;
  }
  .content-column {
    position: relative;
    .inner-column {
      position: relative;
      padding-right: 45px;
      @include media-breakpoint-down(xl){
        padding-right: 0;
        margin-bottom: 60px;
      }
    }
    .bold-text{
      font-size: 18px;
      margin-top: 30px;
      color: var(--theme-color2);
    }
    .list-style-three{
      margin-bottom: 40px;
      margin-right: -25px;
      li{
        font-weight: 700;
        font-size: 18px;
        @include media-breakpoint-down(xl){
          font-size: 16px;
        }
      }
    }
  }
  .image-column{
    position: relative;
    .inner-column{
      position: relative;
    }
    .bg-image{
      position: absolute;
      right: -370px;
      top: -120px;
      @include media-breakpoint-down(lg){
        display: none;
      }
      &:before{
        @include overlay;
        opacity: .9;
        background:var(--gradient-4);
        content: "";
      };
    }
    .image{
      position: relative;
      z-index: 2;
      img{
        width: 100%;
      }
    }
  }
  .info-box{
    position: absolute;
    left: 30px;
    bottom: -30px;
    z-index: 2;
    background-color: #fff;
    max-width: 272px;
    padding: 40px 45px;
    box-shadow: 0 10px 30px rgba(0,0,0,.10);
    &::before{
      position: absolute;
      left: 0;
      top: -10px;
      height: 10px;
      width: 100%;
      background:var(--theme-color1);
      content: "";
      z-index: 2;
    }
    .icon{
      position: relative;
      display: block;
      font-size: 64px;
      line-height: 1em;
      color: var(--theme-color1);
      margin-bottom: 20px;
    }
    .count{
      display: block;
      font-family: var(--title-font);
      font-size: 36px;
      color: var(--theme-color2);
      margin-bottom: 36px;
    }
    .text{
      font-size: 17px;
    }
  }
}


.banner-box-three{
  position: relative;
  background:var(--theme-color1);
  padding: 4px;
  .inner-box{
    position: relative;
    padding: 35px;
    padding-right: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(lg){
      display: block;
    }
    @include media-breakpoint-down(sm){
      padding: 15px;
    }
    .title-column{
      align-items: center;
      display: flex;
      position: relative;
      @media (max-width: 399.98px) {
        display: block;
      }
      .image{
        margin-bottom: 0;
        min-width: 247px;
        @include media-breakpoint-down(xl){
          min-width: 115px;
        }
        @media (max-width: 399.98px) {
          img {
            width: 100%;
          }
        }
      }
      .title{
        margin-bottom: 0;
        margin-left: 35px;
        line-height: 1.5;
        @include media-breakpoint-down(sm){
          font-size: 18px;
          margin-left: 20px;
        }
        @media (max-width: 399.98px) {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }

    .text-column{
      max-width: 390px;
      padding-left: 52px;
      margin-left: 15px;
      border-left: 1px solid #d9e0e6;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    
  }
}